.parent .header {
    background-color: red;
}

.add_body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow: auto;
    scrollbar-width: 0;
}

.inputDiv {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.inputDiv .subDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.formField {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.formField input {
    width: 50%;
    padding: 4px 4px;
}

.resultDiv {
    display: flex;
    flex-direction: column;
}
.resultTitle {
    padding: 0 0 2rem 0;
}

.resultDiv table {
    border: 1px solid black;
    border-collapse: collapse;
}

td,
tr,
th {
    border: 1px solid black;
    padding: 8px;
}
