.popup {
    width: fit-content;
    max-width: 75%;
    max-height: 75vh;
    background-color: white;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 2rem;
    visibility: hidden;
    border-radius: 1rem;
}

.popup::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    padding-bottom: 2rem;
}

.header .spacer:first-child {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: top;
}
.header .spacer:last-child {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: top;
}

.header .title {
    flex: 2;
    text-align: center;
    /* padding-top: 1rem;
    padding-bottom: 2rem; */
}

.close {
    padding: 0.75rem 1rem;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #8b595f;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
}

.close:hover {
    background-color: #8b595fdd;
}
