.popup {
    width: 75%;
    height: 300px;
    max-height: 75vh;
    background-color: white;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.header {
    display: flex;
}

.header h1 {
    flex: 1;
    text-align: center;
}
