.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

.login_container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: white;
    gap: 1rem;
    border-radius: 8px;
}

.login_title {
    text-align: center;
    padding: 0.5rem;
}

.form_field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form_field .sub_field {
    display: flex;
    justify-content: space-between;
}

.form_field input {
    width: 350px;
    padding: 6px;
}

.reset_password {
    text-align: right;
    color: rgb(149, 83, 80);
    cursor: pointer;
    text-decoration: none;
}

.reset_password:hover {
    text-decoration: underline;
}

.login_container button {
    padding: 8px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: rgb(149, 83, 80);
}

.login_container button:hover {
    opacity: 0.7;
}
