.parent_main {
    position: relative;
    width: 100%;
    height: 100vh;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.header {
    width: 100%;
    background-color: rgb(149, 83, 80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.account_holder {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.account_name {
    text-align: right;
    font-weight: normal;
}

.account_status {
    text-align: right;
    font-weight: normal;
}

.operations_box {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.search {
    display: flex;
    gap: 1rem;
}

.operations {
    display: flex;
    gap: 1rem;
}

.search * {
    padding: 8px;
}

.operations * {
    padding: 8px;
}

.main_container {
    display: grid;
    grid-template-columns: 2fr 12fr;
    column-gap: 8px;
    padding: 16px;
}

.name_list {
    height: 100vh;
    border-radius: 8px;
    border: 2px solid skyblue;
    display: flex;
    flex-direction: column;
}

.name_list h3 {
    text-align: center;
    padding: 8px;
}

.main_body {
    display: grid;
    grid-template-areas:
        "info photo"
        "result result";
    grid-auto-rows: min-content;
    gap: 1rem;
}

.body_info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    height: fit-content;
}

.body_photo {
    grid-area: photo;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
    height: fit-content;
}

.body_result {
    grid-area: result;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.photo_frame {
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.result_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.result_modify_btn {
    padding: 8px;
}

.result_delete_btn {
    padding: 8px;
}

.result_add_btn {
    padding: 8px;
}

.result {
    border-collapse: collapse;
    text-align: center;
}

.result td,
.result th,
.result tr {
    padding: 1rem;
}

.pop_up {
    width: 400px;
    height: 300px;
    background-color: green;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pop_up p {
    text-align: center;
}
